#bells {
    height:auto;
    width:15%;
    position: fixed;
    top:2%;
    left: 10%;
    z-index:100000000000;
}

body {
    /* Image courtsey https://wallpaperscraft.com/image/santa_claus_set_background_lettering_snowflake_50786_2048x2048.jpg */
    background-image: url("santa.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

img.zoomImage {
  -moz-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
  outline: 0px solid #673AB7;
}

img.zoomImage.wide {
    width:51%;
}

img.zoomImage.small {
    width:16.66%;
}

@media only screen and (min-width: 769px)
{
    img.zoomImage:hover {
    outline: 0.35vw solid #673AB7;
    outline-offset: -0.15vw;
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    }
}

@media only screen and (max-width: 768px)
{
    img.zoomImage.wide {
        width:101%;
    }
    img.zoomImage.small {
        width:32%;
    }
}